<!doctype html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <title>{{ .title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ $.BasePath }}/static/styles.css">
</head>
<body>
  <header>
    <div class="container">
      <h1>{{ .title }}</h1>
    </div>
  </header>
      <ul class="menu container">
        <li><a href="{{ $.BasePath }}/" class="link-back">Zurück zur Startseite</a></li>
        <li><a href="{{ $.BasePath }}/pools" class="link-back">Zurück zur Poolübersicht</a></li>
      </ul>

  <main>
    <div class="container">

      {{ if .error }}
      <section class="status">
        <div class="alert alert-error">
          <p>{{ .error }}</p>
          {{ if .poolName }}
              <p>Pool: <a href="{{$.BasePath}}/admin/pools/{{ .poolName }}">{{ .poolName }}</a></p>
              <p>Kommentar: {{ .comment }}</p>
            {{ end }}
        </div>
      </section>
      {{ end }}
      {{ if .message }}
        <div class="alert alert-success">{{ .message }}</div>
      {{ end }}

      <section class="card menu">
        <form method="post" action="{{ $.BasePath }}/admin/pools/{{ .pool }}/export">
          <button type="submit" class="btn-grey">gesamten Pool exportieren</button>
        </form>
        {{ if ne .poolStatus ""}}
        <form method="post" action="{{ $.BasePath }}/admin/pools/{{ .pool }}/activate">
          <button type="submit" class="btn">gesamten Pool aktivieren</button>
        </form>
        {{ end }}
        {{ if ne .poolStatus "w" }}
          <form method="post" action="{{ $.BasePath }}/admin/pools/{{ .pool }}/whitelist" onsubmit="return confirm('Das ändert den gesamten Pool! Sicher?');">
            <button type="submit" class="btn-green">gesamten Pool whitelisten</button>
          </form>
        {{ end }}
        {{ if ne .poolStatus "b" }}
          <form method="post" action="{{ $.BasePath }}/admin/pools/{{ .pool }}/block" onsubmit="return confirm('Das ändert den gesamten Pool! Sicher?');">
            <button type="submit" class="btn-block">gesamten Pool blocken</button>
          </form>
        {{ end }}
        <form method="post" action="{{ $.BasePath }}/admin/pools/{{ .pool }}/delete" onsubmit="return confirm('Das löscht den gesamten Pool! Sicher?');">
          <button type="submit" class="btn-danger">gesamten Pool Löschen</button>
        </form>
      </section>
        
      </section>
      <section class="card">
        <div class="table-wrapper">
          <table class="data-table">
            <thead>
              <tr>
                <th scope="col">CIDR</th>
                <th scope="col">Kommentar</th>
                <th scope="col" colspan="2">Aktion</th>
              </tr>
            </thead>
            <tbody>
            {{ range .entries }}
              <tr>
                <td>{{ .CIDR }}</td>
                <td>{{ .Comment }}</td>
                {{ if eq .Status  "b" }}
                <td>
                  <form method="post" action="{{ $.BasePath }}/admin/pools/{{ $.pool }}/whitelistIP">
                    <input type="hidden" name="entryID" value="{{ .ID }}">
                    <button type="submit" class="btn-green">whitelisten</button>
                  </form>
                </td>
                {{ else if eq .Status "w" }}
                <td>
                  <form method="post" action="{{ $.BasePath }}/admin/pools/{{ $.pool }}/blockIP">
                    <input type="hidden" name="entryID" value="{{ .ID }}">
                    <button type="submit" class="btn-grey">blocken</button>
                  </form>
                </td>
                {{ else }}
                <td>
                  <form method="post" action="{{ $.BasePath }}/admin/pools/{{ $.pool }}/whitelistIP">
                    <input type="hidden" name="entryID" value="{{ .ID }}">
                    <button type="submit" class="btn-green">whitelisten</button>
                  </form>
                  <form method="post" action="{{ $.BasePath }}/admin/pools/{{ $.pool }}/blockIP">
                    <input type="hidden" name="entryID" value="{{ .ID }}">
                    <button type="submit" class="btn-grey">blocken</button>
                  </form>
                </td>
                {{ end }}
                <td>
                  <form method="post" action="{{ $.BasePath }}/admin/pools/{{ $.pool }}/deleteIP">
                    <input type="hidden" name="entryID" value="{{ .ID }}">
                    <button type="submit" class="btn-danger">Löschen</button>
                  </form>
                </td>
              </tr>
            {{ else }}
              <tr>
                <td colspan="3" class="table-empty">Keine Einträge vorhanden.</td>
              </tr>
            {{ end }}
            </tbody>
          </table>
        </div>
      </section>

      <section class="card">
        <h3>Neuen CIDR hinzufügen</h3>
        <form method="post" action="{{ $.BasePath }}/admin/pools/{{ $.pool }}/addIP" novalidate>
          <div class="field-group">
            <label for="cidr">CIDR</label>
            <input type="text" id="cidr" name="cidr" placeholder="z. B. 192.168.1.0/24">
          </div>

          <div class="field-group">
            <label for="comment">Kommentar (max. 60 Zeichen)</label>
            <input type="text" id="comment" name="comment" maxlength="60">
          </div>
          <button type="submit">Hinzufügen</button>
        </form>
      </section>


    </div>
  </main>
</body>
</html>

