<!doctype html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <title>{{ .title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ $.BasePath }}/static/styles.css">
</head>
<body>
  <header>
    <div class="container">
      <h1>{{ .title }}</h1>
    </div>
  </header>
      <ul class="menu container">
        <li><a href="{{ $.BasePath }}/" class="link-back">Zurück zur Startseite</a></li>
        <li><a href="{{$.BasePath}}/admin" class="link-back">Zur Administration</a></li>
      </ul>

  <main>
    <div class="container">

      <section class="status">
        {{ if .error }}
        <div class="alert alert-error">{{ .error }}
          {{ if .poolName }}
              <p>Pool: <a href="{{$.BasePath}}/pools/{{ .poolName }}">{{ .poolName }}</a></p>
              <p>Kommentar: {{ .comment }}</p>
            {{ end }}
        </div>
        {{ end }}

        {{ if .message }}
          <div class="alert alert-info">
            <p>{{ .message }}</p>
            {{ if .poolName }}
              <p>Pool: <a href="{{ $.BasePath }}/pools/{{ .poolName }}">{{ .poolName }}</a></p>
              <p>Kommentar: {{ .comment }}</p>
            {{ end }}
          </div>
        {{ end }}
      </section>

      <section class="card">
        <h2>Verfügbare Pools</h2>

        <ul class="data-list">
            {{ range .pools }}
                <li><a href="{{ $.BasePath }}/pools/{{ . }}" class="link-item">{{ . }}</a></li>
            {{ else }}
                <li>Keine Einträge vorhanden.</li>
            {{ end }}
        </ul>
      </section>
</div>

    </div>
  </main>
</body>
</html>

